#wrapper { background: #ffffff url(images/body.png) repeat-x 50% 0; }

#wrapper #container { margin: 0 auto; padding: 0 20px; max-width: 1270px; }

#wrapper #container #header { height: 80px; }

#wrapper #container #header #masthead { position: absolute; }

#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited { line-height: 120px; position: relative; z-index: 2; white-space: nowrap; }

#wrapper #container #header h1 span { font-weight: bold; }

#wrapper #container #header h1 img { padding-top: 14px; padding-right: 20px; float: left; }


/* CSS Document */

.header {
	font-size: 200%;
	font-weight: bold;
	/*color: #274E90;*/
	color: #333366;
	/*background-color: #8CAAE6;*/
	background-color: #b0afde;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 1em;
	margin: 0px;
}
body {
	font-family: verdana, tahoma, helvetica, arial, sans-serif;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: underline;
	color: #333399;
}
a:hover {
	text-decoration: none;
}
a:visited {
	color: #663399;
}
.bodyContent {
	padding: 20px;
	text-align: left;
}
.headerMenu {
	/*background-color: #6487DC; */
	background-color: #666699;
	color: #FFFFFF;
	text-align: center;
	margin: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.headerMenu a {
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}
.headerMenu a:hover {
	text-decoration: underline;
}
.headerMenu a.current {
	color: #FDA05B;
}
.code {
	font-family: monospace;
	font-size: 85%;
	text-align: left;
	border: 1px solid;
	padding: 3px;
	margin: 3px;
	display: block;
	background-color: #f0f0f0;
	border-color: #676767;
	color: #333333;
}
code {
	background-color: #f0f0f0;
}
h1 {
	font-size: 150%;
	text-align: center;
	font-weight: bold;
}
h2 {
	font-size: 130%;
	text-align: left;
	font-weight: bold;
	padding: 5px;
	background-color: #666699;
	color: #ffffff;
}
h3 {
	font-size: 120%;
	text-align: left;
	font-weight: bold;
	background-color: #ccccff;
}
.screenshot {
	/* border: 1px solid black; */
	margin: 7px;
}
.footer {
	background-color: #ccccff;
	margin: 0px;
	padding: 3px;
	text-align: center;
}
ul.menu li, ul.menu li li {
	padding-top: 3px;
	padding-bottom: 3px;
}
table.icons tr td {
	font-size: x-small;
	text-align:center;
}
.icon {
	border: 0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:3px;
}

