
/* Generic elements */
html { height: 100%; }
body {
  height: 100%;
  background: #BDBDBD;
  background: linear-gradient(bottom, rgb(189,189,189) 0%, rgb(242,242,242) 100%) fixed;
  background: -o-linear-gradient(bottom, rgb(189,189,189) 0%, rgb(242,242,242) 100%) fixed;
  background: -moz-linear-gradient(bottom, rgb(189,189,189) 0%, rgb(242,242,242) 100%) fixed;
  background: -webkit-linear-gradient(bottom, rgb(189,189,189) 0%, rgb(242,242,242) 100%) fixed;
  background: -ms-linear-gradient(bottom, rgb(189,189,189) 0%, rgb(242,242,242) 100%) fixed;
  background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(189,189,189)), color-stop(1, rgb(242,242,242)) ) fixed;
  margin: 0;
  padding: 0;
  font: 12px/170% Verdana, sans-serif;
  color: #494949;
}
input { font: 12px/100% Verdana, sans-serif; color: #494949; }
textarea, select { font: 12px/160% Verdana, sans-serif; color: #494949; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; font-family: Helvetica, Arial, sans-serif; }
h1 {
  font-size: 170%;
  font-weight: bold;
  border-bottom: 1px solid #494949;
}
h2 {
  margin: 40px 0 5px;
  font-size: 160%;
  line-height: 130%;
  font-weight: bold;
  color: #777;
  border-bottom: 1px dotted #ccc;
}
h3 {
  font-size: 140%;
}
h4 {
  font-size: 130%;
}
h5 {
  font-size: 120%;
}
h6 {
  font-size: 110%;
}
ul, quote, code, fieldset { margin: .5em 0; }
p { margin: 0.6em 0 1.2em; padding: 0; }
a:link, a:visited { color: #027AC6; text-decoration: none; }
a:hover { color: #0062A0; text-decoration: underline; }
a:active, a.active { color: #5895be; }
hr { margin: 0; padding: 0; border: none; height: 1px; background: #5294c1; }
ol { margin: 0.75em 0 1.25em; padding: 0; }

/* Wrapper */

#wrapper .container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1270px;
  min-width: 700px;
}

#wrapper #masthead {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  padding: 10px 0;
  background-image: linear-gradient(bottom, rgb(23,23,23) 0%, rgb(64,64,64) 100%);
  background-image: -o-linear-gradient(bottom, rgb(23,23,23) 0%, rgb(64,64,64) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(23,23,23) 0%, rgb(64,64,64) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(23,23,23) 0%, rgb(64,64,64) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(23,23,23) 0%, rgb(64,64,64) 100%);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(23,23,23)),color-stop(1, rgb(64,64,64)));
  z-index: 2;
}

#wrapper #masthead a,
#wrapper #masthead a:active,
#wrapper #masthead a:visited,
#wrapper #masthead a:hover {
  color: #fff;
  color: rgba(255,255,255,.15);
  text-decoration: none;
  font-size: 40px;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.5), 0 -1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1), -1px -2px rgba(0, 0, 0, 0.3);
}

#wrapper #masthead h1 {
  border: none;
}

#wrapper #masthead h1 img {
  position: relative;
  padding-right: 10px;
  vertical-align: middle;
}

#wrapper #navigation {
  position: fixed;
  width: 100%;
  top: 80px;
  padding: 2px 0 4px;
  margin: 0;
  font-size: 10pt;
  background-image: linear-gradient(bottom, rgb(34,34,34) 0%, rgb(51,51,51) 100%);
  background-image: -o-linear-gradient(bottom, rgb(34,34,34) 0%, rgb(51,51,51) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(34,34,34) 0%, rgb(51,51,51) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(34,34,34) 0%, rgb(51,51,51) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(34,34,34) 0%, rgb(51,51,51) 100%);
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(34,34,34)), color-stop(1, rgb(51,51,51)) );
  border-bottom: 1px solid #444444;
  border-top: 1px solid #444444;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  z-index: 2;
}

#wrapper #navigation ul,
#wrapper #navigation ul li,
#wrapper #navigation ul li a {
  margin: 0;
  padding: 0;
}

#wrapper #navigation ul li {
  padding: 0 15px;
  margin-left: -15px;
  margin-right: 30px;
  float: left;
  list-style: none;
}

#wrapper #navigation ul li.active {
  background: #444;
  -moz-box-shadow: 0 2px 2px #000 inset;
  -webkit-box-shadow: 0 2px 2px #000 inset;
  box-shadow: 0 2px 2px #000 inset;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#wrapper #navigation a,
#wrapper #navigation a:active,
#wrapper #navigation a:visited {
  color: #888;
  text-decoration: none;
  text-shadow: 0 2px 2px #000;
}

#wrapper #navigation a:hover {
  color: #fff;
}

#wrapper #navigation li.active a,
#wrapper #navigation li.active a:active,
#wrapper #navigation li.active a:visited,
#wrapper #navigation li.active a:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 2px 2px #000;
}


#wrapper #center {
  float: left;
  width: 100%;
}

#wrapper #center > .container {
  background: #fff;
  -moz-box-shadow: 0 0 20px #000;
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  -moz-border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}

#wrapper #center .sqeeze {
  margin-right: 300px;
  position: relative;
}

/* Content */
#wrapper #center #content {
  padding: 140px 0 20px;
  min-height: 400px;
}

#wrapper #center #content a[name] {
  position: absolute;
  margin-top: -120px;
}

/* Sidebar */
#wrapper #center .sidebar {
  position: absolute;
  border-left: 1px solid #ccc;
  right: -300px;
  margin-top: 140px;
  padding: 0 0 0 20px;
  width: 240px;
}

#wrapper #center .sidebar .fixed {
  position: fixed;
  top: 100px;
  margin-left: -21px;
  padding: 0 0 0 20px;
  border-left: 1px solid #ccc;
  width: 240px;
}

#wrapper #center .sidebar ul {
  padding: 0 15px;
  margin: 0;
}


#wrapper #center .sidebar ul li {
  padding: 0;
}

#wrapper #center .sidebar .download {
  color: #3e9533;
  padding: 10px;
  margin: 0 0 20px;
}

#wrapper #center .sidebar .download h1 {
  border: none;
}

#wrapper #center .sidebar .download.beta {
  color: #b33630;
}

#wrapper #center .sidebar .download.beta .links a, #wrapper #center .sidebar .download.beta .links a:visited, #wrapper #center .sidebar .download.beta .links a:hover {
  color: #b33630;
}


button.classy,a.button.classy,button.classy:disabled:hover,a.button.classy.disabled:hover {
  height: 34px;
  padding: 0;
  position: relative;
  top: 1px;
  font-family: helvetica,arial,freesans,clean,sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  text-shadow: 1px 1px 0 #fff;
  white-space: nowrap;
  border: none;
  overflow: visible;
  background: #ddd;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#e1e1e1');
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#e1e1e1));
  background: -moz-linear-gradient(-90deg,#fff,#e1e1e1);
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  cursor: pointer;
  -webkit-font-smoothing: subpixel-antialiased!important;
}
a.button.classy {
  display: inline-block;
}
button.classy span,a.button.classy span {
  display: block;
  height: 34px;
  padding: 0 13px;
  line-height: 36px;
}
button.classy.green,a.button.classy.green {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  background: #3e9533;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#419b36',endColorstr='#357f2c');
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#419b36),to(#357f2c));
  background: -moz-linear-gradient(-90deg,#419b36,#357f2c);
  border-bottom-color: #3e9533;
}
button.classy.green:hover,a.button.classy.green:hover {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  background: #18a609;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1cbe0a',endColorstr='#158f07');
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#1cbe0a),to(#158f07));
  background: -moz-linear-gradient(-90deg,#1cbe0a,#158f07);
  border-bottom-color: #18a609;
}
button.classy.green.mousedown,a.button.classy.green.mousedown,
button.classy.green.mousedown:hover,a.button.classy.green.mousedown:hover {
  background: #18a609;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#158f07',endColorstr='#1cbe0a');
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#158f07),to(#1cbe0a));
  background: -moz-linear-gradient(-90deg,#158f07,#1cbe0a);
  border-bottom-color: #18a609;
}
button.classy.red:disabled:hover,a.button.classy.disabled.red:hover {
  background: #ddd;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#e1e1e1');
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#e1e1e1));
  background: -moz-linear-gradient(-90deg,#fff,#e1e1e1);
  border-bottom: 1px solid #ebebeb;
  color: #900;
  text-shadow: 1px 1px 0 #fff;
}
button.classy.red:hover,a.button.classy.red:hover {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  background: #b33630;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dc5f59',endColorstr='#b33630');
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#dc5f59),to(#b33630));
  background: -moz-linear-gradient(-90deg,#dc5f59,#b33630);
  border-bottom-color: #cd504a;
}
button.classy.red.mousedown,a.button.classy.red.mousedown {
  background: #b33630;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b33630',endColorstr='#dc5f59');
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#b33630),to(#dc5f59));
  background: -moz-linear-gradient(-90deg,#b33630,#dc5f59);
  border-bottom-color: #dc5f59;
}
button.classy.red,a.button.classy.red {
  color: #900;
}
button.classy:hover,a.button.classy:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  border-bottom-color: #0770a0;
  background: #0770a0;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0ca6dd',endColorstr='#0770a0');
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#0ca6dd),to(#0770a0));
  background: -moz-linear-gradient(-90deg,#0ca6dd,#0770a0);
}
button.classy.mousedown,a.button.classy.mousedown {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  background: #0ca6dd;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0ca6dd',endColorstr='#0770a0');
  background: -webkit-gradient(linear,0% 100%,0% 0,from(#0ca6dd),to(#0770a0));
  background: -moz-linear-gradient(90deg,#0ca6dd,#0770a0);
}
button.classy::-moz-focus-inner {
  margin: -1px -3px;
}
button.classy img,a.button.classy img {
  position: relative;
  top: -1px;
  margin-right: 3px;
  vertical-align: middle;
}
button.classy:disabled,.button.classy.disabled {
  opacity: .5;
}

.minibutton {
  height: 21px;
  padding: 0 0 0 3px;
  font-size: 11px;
  font-weight: bold;
}
.minibutton,.minibutton.disabled:hover {
  position: relative;
  font-family: helvetica,arial,freesans,clean,sans-serif;
  display: inline-block;
  color: #333;
  text-shadow: 1px 1px 0 #fff;
  white-space: nowrap;
  border: none;
  overflow: visible;
  cursor: pointer;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f4f4f4;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f4f4f4',endColorstr='#ececec');
  background: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#ececec));
  background: -moz-linear-gradient(top,#f4f4f4,#ececec);
}
button.minibutton {
  height: 23px;
}
.minibutton.lighter,.minibutton.disabled.lighter:hover {
  color: #333;
  text-shadow: 1px 1px 0 #fff;
  border: none;
  background: #fafafa;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fafafa',endColorstr='#dddddd');
  background: -webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#ddd));
  background: -moz-linear-gradient(top,#fafafa,#ddd);
}
.minibutton.green,.minibutton.disabled.green:hover {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  background: #36b825;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#36b825',endColorstr='#28881b');
  background: -webkit-gradient(linear,left top,left bottom,from(#36b825),to(#28881b));
  background: -moz-linear-gradient(top,#36b825,#28881b);
  border-color: #4a993e;
}
.minibutton.blue,.minibutton.disabled.blue:hover {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  background: #448da6;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#448da6',endColorstr='#32687b');
  background: -webkit-gradient(linear,left top,left bottom,from(#448da6),to(#32687b));
  background: -moz-linear-gradient(top,#448da6,#32687b);
  border-color: #275666;
}
input[type=text]+.minibutton {
  margin-left: 5px;
}
button.minibutton::-moz-focus-inner {
  margin: -1px -3px;
}
.minibutton.red {
  color: #900;
}
.minibutton.disabled.red:hover {
  color: #900;
  border-color: #d4d4d4;
  background: #f4f4f4;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f4f4f4',endColorstr='#ececec');
  background: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#ececec));
  background: -moz-linear-gradient(top,#f4f4f4,#ececec);
}
.minibutton>span {
  display: block;
  height: 21px;
  padding: 0 9px 0 7px;
  line-height: 21px;
}
.minibutton:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  border-color: #518cc6;
  border-bottom-color: #2a65a0;
  background: #599bdc;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#599bdc',endColorstr='#3072b3');
  background: -webkit-gradient(linear,left top,left bottom,from(#599bdc),to(#3072b3));
  background: -moz-linear-gradient(top,#599bdc,#3072b3);
}
.minibutton.mousedown {
  border-color: #2a65a0;
  border-bottom-color: #518cc6;
  background: #3072b3;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3072b3',endColorstr='#599bdc');
  background: -webkit-gradient(linear,left top,left bottom,from(#3072b3),to(#599bdc));
  background: -moz-linear-gradient(top,#3072b3,#599bdc);
}
.minibutton.red:hover {
  border-color: #c65651;
  border-bottom-color: #a0302a;
  background: #dc5f59;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dc5f59',endColorstr='#b33630');
  background: -webkit-gradient(linear,left top,left bottom,from(#dc5f59),to(#b33630));
  background: -moz-linear-gradient(top,#dc5f59,#b33630);
}
.minibutton.red.mousedown {
  border-color: #a0302a;
  border-bottom-color: #c65651;
  background: #b33630;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b33630',endColorstr='#dc5f59');
  background: -webkit-gradient(linear,left top,left bottom,from(#b33630),to(#dc5f59));
  background: -moz-linear-gradient(top,#b33630,#dc5f59);
}
.minibutton.disabled,.minibutton.disabled:hover {
  opacity: .5;
  cursor: default;
}

  /* with icon */
  .button.classy span.icon,
  .minibutton span.icon {
    float:left;
    margin-left:-4px;
    height:22px !important;
    padding: 0 0 0 20px;
    background:url(https://github.com/images/modules/buttons/minibutton_icons.png?v20100306) 0 0 no-repeat;
  }
  .button.classy span.icon {
    position: relative;
    top: 5px;
  }
  .button.classy span.icon,
  .minibutton span.icon {background-position:-40px 0;}

  .button.classy:hover span.icon,
  .minibutton:hover span.icon {background-position:-40px -25px;}

  .button.classy.green span.icon,
  .minibutton.green span.icon {background-position:-40px -25px;}

/* Footer */
#wrapper #footer {
  padding: 40px 0;
  text-align: center;
  color: #898989;
}


/* General styling */

table.commands thead th {
  border-bottom: 2px solid #ccc;
  text-align: left;
  vertical-align: bottom;
}

table.commands tbody td {
  padding: 5px 0;
  text-align: left;
  vertical-align: top;
}

table.commands tbody tr:nth-child(odd) {
  background-color:#f7f7f7;
}

table.commands tbody td.command {
  font-weight: bold;
  white-space: nowrap;
  padding-right: 20px;
  width: 10px;
}

table.commands tbody td.arguments {
  font-style: italic;
  padding-right: 20px;
  white-space: nowrap;
  width: 10px;
}

table.commands tbody td.description {
}

pre, code {
    font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
}

code {
    background-color: #F8F8FF !important;
    border: 1px solid #DEDEDE !important;
    color: #444444 !important;
    font-size: 12px !important;
    padding: 0 0.2em !important;
}

pre {
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    color: #444444;
    font-size: 12px;
    margin: 1em 0;
    overflow: auto;
    padding: 5px;
    -moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
}

pre code {
    background-color: #EEEEEE !important;
    border: medium none !important;
    font-size: 12px !important;
    padding: 0 !important;
}

.screenshot {
	/* border: 1px solid black; */
	margin: 7px;
}
table.icons tr td {
	font-size: x-small;
	text-align:center;
}

table.icons .icon {
	border: 0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:3px;
}


div.icons .icon {
  float: left;
  padding: 5px;
  font-size: x-small;
  text-align: center;
}

div.icons .icon img {
	border: 0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:3px;
}

