# Mac OS X
*.DS_Store

# Xcode
*.pbxuser
*.log
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
/DerivedData
project.xcworkspace/
xcuserdata/

# JetBrains IDEs
.idea

# CocoaPods
/Pods
Podfile.lock

# Node.js
/node_modules

# Building process (Node.js)
/Build

# Other build artifacts:
build/*
*.build
*.o
