#include "Config.xcconfig"

// Release.
COPY_PHASE_STRIP = NO
DEAD_CODE_STRIPPING = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DEPLOYMENT_POSTPROCESSING = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_OPTIMIZATION_LEVEL = s
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
SEPARATE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = non-global
STRIPFLAGS = -u -r

// CocoaPods.
#include "Pods/Target Support Files/Pods-cocoadialog/Pods-cocoadialog.release.xcconfig"
